<!DOCTYPE html>
<html>
<head>
    <style>
        .main {
            width: 50vw;
            height: 90vh;
            border-radius: 3px;
            box-shadow: 0 0 7px 3px #a7a7a7;
            background-color: #ffffff;
            display: flex;
            margin: auto;
            flex-direction: column;
            align-items: center;
            padding: 10px;
            overflow: auto
        }

        .pic {
            width: 200px;
            height: 200px;
            border-radius: 50%;
            background-position: center;
            background-repeat: no-repeat;
            background-color: #ffc800;
            margin: 20px;
        }

        .details {
            text-transform: capitalize;
            font-family: system-ui;
            color: #3c3c3c;
            font-size: 20px;
            display: flex;
            flex-direction: column;
            align-items: center;
            line-height: 1.5;
        }
        .back{
            background-image: url("/icon/arrow.svg");
            background-position: center center;
            background-size: 20px;
            background-repeat: no-repeat;
        }
    </style>
</head>
<body>
<div class="back"></div>
<div id="main" class="main">

</div>
</body>
<script type="text/javascript">
    (function () {
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {
                var data = JSON.parse(this.response)[0];
                console.log(data)
                var container = document.getElementById('main');
                container.innerHTML = `<div class="pic"></div>
<div class="details">
<div>${data.name}</div>
<div>Age: ${data.age}</div>
<div>About: ${data.about}</div>
</div>`
            }
        }
        var name = window.location.href.split('/')
        name = name[name.length - 1]
        xhttp.open('GET', '/people/' + name)
        xhttp.send()
    })()

</script>
</html>