<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ayush</title>
    <style>
        .main{
            width: 50vw;
            height: 90vh;
            border-radius: 5px;
            box-shadow: 0 0 7px 3px #a7a7a7;
            background-color: #ffffff;
            display: flex;
            margin: auto;
            flex-direction: column;
            align-items: center;
            padding: 10px;
        }
        .picture{
            width: 50%;
            margin: 0 auto;
        }
        .image{
            width: 200px;
            height: 200px;
            border-radius: 50%;
            background-image: url("http://localhost:3000/image/ayush.jpeg");
            background-size: cover;
            background-position: center;
        }
        .name{

        }
        .details{
            margin-top: 20px;
            font-family: system-ui;
            color: #585858;
            font-size: 20px;
            line-height: 1.5;
        }
    </style>
</head>
<body >
<div class="main" >
    <div class="image"></div>
    <div class="details" >
        <div id="name">Name: Ayush Kumar</div>
        <div id="age">Age: 15</div>
    </div>
</div>
</div>
</body>
<script type="text/javascript">
    (function (){
        console.log('hjkkk')
        var userData = new XMLHttpRequest();
        userData.onreadystatechange = function (state) {
            console.log(this.responseText)
            if(this.readyState === 4 && this.status === 200){
                document.getElementById('name').innerText = JSON.parse(this.responseText).name;
                document.getElementById('age').innerText = JSON.parse(this.responseText).age;
            }
        }
        userData.open('GET','/ayush/data');
        userData.send()
    })()
</script>
</html>